---
title: "Splash Page"

layout: splash

header:
  #overlay_color: "#000"
  #overlay_filter: "0.5"
  overlay_image: /images/kd_unsplash_6.jpg
#/images/unsplash-image-1.jpg

excerpt: "Bacon ipsum dolor sit amet salami ham hock ham, hamburger corned beef short ribs kielbasa biltong t-bone drumstick tri-tip tail sirloin pork chop."

intro: 
  - excerpt: "Nullam suscipit et nam, tellus velit pellentesque at malesuada, enim eaque. Quis nulla, netus tempor in diam gravida tincidunt, *proin faucibus* voluptate felis id sollicitudin."

feature_row:

  - image_path: /images/unsplash-gallery-image-1-th.jpg
    title: "Placeholder 1"
    excerpt: "This is some sample content."
    url: "https://www.google.com"
    btn_label: "Read More"
    btn_class: "btn--inverse"

  - image_path: /images/unsplash-gallery-image-2-th.jpg
    title: "Tagging Provider Reviews"
    excerpt: "Identifying themes using neural networks."
    url: "https://nbviewer.org/github/kdegrave/kdegrave.github.io/blob/main/notebooks/Physician360Model.ipynb"
    btn_label: "Read More"
    btn_class: "btn--inverse"

  - image_path: /images/leave_a_review.jpeg
    title: "Sentiment Modeling"
    excerpt: "Predicting the sentiment of provider reviews."
    url: "https://nbviewer.org/github/kdegrave/kdegrave.github.io/blob/main/notebooks/SentimentModel.ipynb"
    btn_label: "Read More"
    btn_class: "btn--inverse"

feature_row2:

  - image_path: /images/unsplash-gallery-image-1-th.jpg
    title: "Placeholder 1"
    excerpt: "This is some sample content."
    url: "https://www.google.com"
    btn_label: "Read More"
    btn_class: "btn--inverse"

  - image_path: /images/unsplash-gallery-image-2-th.jpg
    title: "Tagging Provider Reviews"
    excerpt: "Identifying themes using neural networks."
    url: "https://nbviewer.org/github/kdegrave/kdegrave.github.io/blob/main/notebooks/Physician360Model.ipynb"
    btn_label: "Read More"
    btn_class: "btn--inverse"

  - image_path: /images/leave_a_review.jpeg
    title: "Sentiment Modeling"
    excerpt: "Predicting the sentiment of provider reviews."
    url: "https://nbviewer.org/github/kdegrave/kdegrave.github.io/blob/main/notebooks/SentimentModel.ipynb"
    btn_label: "Read More"
    btn_class: "btn--inverse"
---
{% include feature_row id="intro" type="center" %}
{% include feature_row %}
{% include feature_row id="feature_row2" type="center" %}
